html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,
body,
#root,
.layout {
  min-height: 100vh;
}

.layout-loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.layout-fullscreen {
  width: 100vw;
  height: 100vh;
}

.layout-flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}